################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/STEPViewer/x64
/x64/Debug/STEPViewer.exe
/x64/Debug/STEPViewer.pdb
/x64/Release/STEPViewer.exe
/x64/Release/STEPViewer.pdb
/STEPViewer/STEPViewer.aps
