################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/STEPViewer/x64
/x64/Debug/STEPViewer.exe
/x64/Debug/STEPViewer.pdb
/x64/Release/STEPViewer.pdb
/STEPViewer/STEPViewer.aps
/STEPViewer/Debug
/STEPViewer/Release
/Win32/Debug/STEPViewer.pdb
/Win32/Debug/STEPViewer.exe
/Win32/Release/STEPViewer.pdb
/x64/Debug/STEPViewer.settings
/x64/Release/STEPViewer.settings
/x64/Debug/STEPViewer_STEP.settings
/x64/Debug/STEPViewer_IFC.settings
/x64/Release/STEPViewer_IFC.settings
/STEPViewer/Debug_ifcengine
/STEPViewer/Release_ifcengine
/Win32/Debug_ifcengine/IFCViewer.exe.pdb
/Win32/Release_ifcengine/IFCViewer.exe.pdb
/x64/Debug_ifcengine/IFCViewer.exe.pdb
/x64/Release_ifcengine/IFCViewer.exe.pdb
/Win32/Debug_ifcengine/IFCViewer.exe
/Win32/Debug_ifcengine/IFCViewer.pdb
/Win32/Release_ifcengine/IFCViewer.pdb
/x64/Debug_ifcengine/IFCViewer.exe
/x64/Debug_ifcengine/IFCViewer.pdb
/x64/Release_ifcengine/IFCViewer.pdb
/Win32/Debug/STEPViewerCGL.exe
/Win32/Debug/STEPViewerCGL.pdb
/Win32/Debug_ifcengine/IFCViewerCGL.exe
/Win32/Debug_ifcengine/IFCViewerCGL.pdb
/Win32/Release/STEPViewerCGL.pdb
/Win32/Release_ifcengine/IFCViewerCGL.pdb
/x64/Debug/STEPViewerCGL.exe
/x64/Debug/STEPViewerCGL.pdb
/x64/Debug_ifcengine/IFCViewerCGL.exe
/x64/Debug_ifcengine/IFCViewerCGL.pdb
/x64/Release/STEPViewerCGL.pdb
/x64/Release_ifcengine/IFCViewerCGL.pdb
/STEPViewer/Debug_cis2engine
/STEPViewer/Release_cis2engine
/Win32/Debug_cis2engine/CIS2ViewerCGL.exe
/Win32/Debug_cis2engine/CIS2ViewerCGL.pdb
/Win32/Release_cis2engine/CIS2ViewerCGL.pdb
/x64/Debug_cis2engine/CIS2ViewerCGL.exe
/x64/Debug_cis2engine/CIS2ViewerCGL.pdb
/x64/Release_cis2engine/CIS2ViewerCGL.pdb
/x64/Debug/STEPViewer_CIS2.settings
