################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/STEPViewer/x64
/x64/Debug/STEPViewer.exe
/x64/Debug/STEPViewer.pdb
/x64/Release/STEPViewer.exe
/x64/Release/STEPViewer.pdb
/STEPViewer/STEPViewer.aps
/STEPViewer/Debug
/STEPViewer/Release
/Win32/Debug/STEPViewer.pdb
/Win32/Debug/STEPViewer.exe
/Win32/Release/STEPViewer.pdb
/Win32/Release/STEPViewer.exe
/x64/Debug/STEPViewer.settings
/x64/Release/STEPViewer.settings
/x64/Debug/STEPViewer_STEP.settings
/x64/Debug/STEPViewer_IFC.settings
/x64/Release/STEPViewer_IFC.settings
